{minimum_otp_vsn, "27"}.

{erl_opts, [
    debug_info,
    warnings_as_errors,
    warn_export_vars,
    warn_unused_import,
    warn_missing_spec
]}.

{deps, [
    {etiq, {git, "git@github.com:revikk/etiq.git", {branch, "main"}}},
    {eqwalizer_support,
        {git_subdir,
            "https://github.com/whatsapp/eqwalizer.git",
            {branch, "main"},
            "eqwalizer_support"}}
]}.

{project_plugins, [
    {rebar3_lint, "4.2.1"}
]}.

{shell, [
    {apps, [eccsim]}
]}.

{profiles, [
    {test, [
        {erl_opts, [nowarn_export_all, nowarn_missing_spec]},
        {ct_opts, [{verbose, true}]},
        {cover_enabled, true}
    ]}
]}.

{elvis_output_format, colors}.
